<a routerLink="/autenticacion">Iniciar sesión</a>
<table>
	<tr>
		<th>Nombre</th>
		<th>Precio</th>
		<th>F. de inicio</th>
		<th>F. de fin</th>
	</tr>
	<tr *ngFor="let curso of cursos">
		<td>{{curso.nombre}}</td>
		<td>S/ {{curso.precio}}</td>
		<td>{{curso.fechaInicio}}</td>
		<td>{{curso.fechaFin}}</td>
	</tr>
</table>