<h2>Busqueda por: </h2>
<input type="text" name="nombre" placeholder="Ingrese nombre" [(ngModel)]="nombre">
<button type="button" (click)="buscar()"> Buscar <i class="fas fa-search"></i></button>
<input type="text" name="apellido" placeholder="Ingrese apellido" [(ngModel)]="apellido">
<button type="button" (click)="buscar()"> Buscar <i class="fas fa-search"></i></button>
<input type="text" name="correo" placeholder="Ingrese correo" [(ngModel)]="correo">
<button type="button" (click)="buscar()"> Buscar <i class="fas fa-search"></i></button>