<form *ngIf="!autenticado">
	<label for="correo">Correo</label>
	<input id="correo" type="email" (change)='autenticable.correo=$event.target.value'>
	<br/>
	<label for="clave">Contraseña</label>
	<input type="password" (change)='autenticable.clave=$event.target.value'>
	<br/>
	<button (click)="autenticar()">Iniciar sesión</button>
</form>
<table *ngIf="autenticado">
	<tr>
		<th>Nombre</th>
		<th>Precio</th>
		<th>F. de inicio</th>
		<th>F. de fin</th>
	</tr>
	<tr *ngFor="let curso of cursos">
		<td>{{curso.nombre}}</td>
		<td>S/ {{curso.precio}}</td>
		<td>{{curso.fechaInicio}}</td>
		<td>{{curso.fechaFin}}</td>
	</tr>
</table>